<?xml version="1.0" encoding="utf-8"?>
<SQLAdapter name="CNKI测试" dataSourceName="CNKI" dataSourceType="SQL">
  <MetadataTags>
    <MetadataTag>
      <Name>IIId</Name>
      <Title>信息项ID</Title>
      <Description>唯一标识，SourceUrl的md5码</Description>
      <Type>String</Type>
      <Required>True</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>iiid</Get>
        <Sets>
          <Set>
            <Key>iiid</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>IndexedDate</Name>
      <Title>索引时间</Title>
      <Description>元数据插入/更新的时间</Description>
      <Type>DateString</Type>
      <Required>True</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>indexeddate</Get>
        <Sets>
          <Set>
            <Key>indexeddate</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Thumbnail</Name>
      <Title>缩略图</Title>
      <Description></Description>
      <Type>Base64StringArray</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>thumbnail</Get>
        <Sets>
          <Set>
            <Key>thumbnail</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Fulltext</Name>
      <Title>全文</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>True</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>fulltext</Get>
        <Sets>
          <Set>
            <Key>fulltext</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>SourceUrl</Name>
      <Title>URL</Title>
      <Description>适配器中获取实体数据的唯一key</Description>
      <Type>String</Type>
      <Required>True</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>source.url</Get>
        <Sets>
          <Set>
            <Key>source.url</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>SourceType</Name>
      <Title>数据源类型</Title>
      <Description>数据系统类型。如：GeoBank、GeoFrame</Description>
      <Type>String</Type>
      <Required>True</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>source.type</Get>
        <Sets>
          <Set>
            <Key>source.type</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>SourceName</Name>
      <Title>数据源名称</Title>
      <Description>数据系统名称。比如：科研成果库、A2。</Description>
      <Type>String</Type>
      <Required>True</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>source.name</Get>
        <Sets>
          <Set>
            <Key>source.name</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>SourceFormat</Name>
      <Title>格式</Title>
      <Description>数据实体格式。标签值必须严格从《格式》中取</Description>
      <Type>String</Type>
      <Required>True</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>source.format</Get>
        <Sets>
          <Set>
            <Key>source.format</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>SourceMedia</Name>
      <Title>介质</Title>
      <Description>标识信息的存在形式。网页、存储、实物等。不同的形式，获取信息的方式不同。</Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>source.media</Get>
        <Sets>
          <Set>
            <Key>source.media</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>FormalTitle</Name>
      <Title>标题</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>True</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.title[?(@.type=='Formal')].text</Get>
        <Sets>
          <Set>
            <Key>dc.title[0].type</Key>
            <Value>Formal</Value>
          </Set>
          <Set>
            <Key>dc.title[0].text</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Author</Name>
      <Title>作者</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.contributor[?(@.type=='Author')].name</Get>
        <Sets>
          <Set>
            <Key>dc.contributor[0].type</Key>
            <Value>Author</Value>
          </Set>
          <Set>
            <Key>dc.contributor[0].name</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Auditor</Name>
      <Title>审核者</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.contributor[?(@.type=='Auditor')].name</Get>
        <Sets>
          <Set>
            <Key>dc.contributor[1].type</Key>
            <Value>Auditor</Value>
          </Set>
          <Set>
            <Key>dc.contributor[1].name</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Subject</Name>
      <Title>主题词</Title>
      <Description>主题词、关键词</Description>
      <Type>StringArray</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.subject</Get>
        <Sets>
          <Set>
            <Key>dc.subject</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Abstract</Name>
      <Title>摘要</Title>
      <Description>摘要</Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.description[?(@.type=='Abstract')].text</Get>
        <Sets>
          <Set>
            <Key>dc.description[0].type</Key>
            <Value>Abstract</Value>
          </Set>
          <Set>
            <Key>dc.description[0].text</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Catalogue</Name>
      <Title>目录</Title>
      <Description>目录</Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.description[?(@.type=='Catalogue')].text</Get>
        <Sets>
          <Set>
            <Key>dc.description[1].type</Key>
            <Value>Catalogue</Value>
          </Set>
          <Set>
            <Key>dc.description[1].text</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Introduction</Name>
      <Title>引言</Title>
      <Description>引言</Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.description[?(@.type=='Introduction')].text</Get>
        <Sets>
          <Set>
            <Key>dc.description[2].type</Key>
            <Value>Introduction</Value>
          </Set>
          <Set>
            <Key>dc.description[2].text</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Summary</Name>
      <Title>结束语</Title>
      <Description>结束语</Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.description[?(@.type=='Summary')].text</Get>
        <Sets>
          <Set>
            <Key>dc.description[3].type</Key>
            <Value>Summary</Value>
          </Set>
          <Set>
            <Key>dc.description[3].text</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>CreatedDate</Name>
      <Title>创建日期</Title>
      <Description></Description>
      <Type>DateString</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.date[?(@.type=='Created')].value</Get>
        <Sets>
          <Set>
            <Key>dc.date[0].type</Key>
            <Value>Created</Value>
          </Set>
          <Set>
            <Key>dc.date[0].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>ValidDate</Name>
      <Title>生效日期</Title>
      <Description></Description>
      <Type>DateString</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.date[?(@.type=='Valid')].value</Get>
        <Sets>
          <Set>
            <Key>dc.date[1].type</Key>
            <Value>Valid</Value>
          </Set>
          <Set>
            <Key>dc.date[1].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>AvailableDate</Name>
      <Title>可获得日期</Title>
      <Description></Description>
      <Type>DateString</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.date[?(@.type=='Available')].value</Get>
        <Sets>
          <Set>
            <Key>dc.date[2].type</Key>
            <Value>Available</Value>
          </Set>
          <Set>
            <Key>dc.date[2].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>IssuedDate</Name>
      <Title>发行日期</Title>
      <Description></Description>
      <Type>DateString</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.date[?(@.type=='Issued')].value</Get>
        <Sets>
          <Set>
            <Key>dc.date[3].type</Key>
            <Value>Issued</Value>
          </Set>
          <Set>
            <Key>dc.date[3].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>SubmittedDate</Name>
      <Title>提交日期</Title>
      <Description></Description>
      <Type>DateString</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.date[?(@.type=='Submitted')].value</Get>
        <Sets>
          <Set>
            <Key>dc.date[4].type</Key>
            <Value>Submitted</Value>
          </Set>
          <Set>
            <Key>dc.date[4].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Type</Name>
      <Title>体裁</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.type</Get>
        <Sets>
          <Set>
            <Key>dc.type</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Language</Name>
      <Title>语言</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.language</Get>
        <Sets>
          <Set>
            <Key>dc.language</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Relation</Name>
      <Title>关系</Title>
      <Description></Description>
      <Type>StringArray</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.relation</Get>
        <Sets>
          <Set>
            <Key>dc.relation</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Coverage</Name>
      <Title>覆盖</Title>
      <Description></Description>
      <Type>WKTString</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.coverage</Get>
        <Sets>
          <Set>
            <Key>dc.coverage</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Period</Name>
      <Title>生命周期</Title>
      <Description></Description>
      <Type>StringArray</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.period</Get>
        <Sets>
          <Set>
            <Key>dc.period</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>RegionCountry</Name>
      <Title>国家</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.region[?(@.type=='country')].name</Get>
        <Sets>
          <Set>
            <Key>dc.region[0].type</Key>
            <Value>Country</Value>
          </Set>
          <Set>
            <Key>dc.region[0].name</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Rights</Name>
      <Title>版权信息</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.rights</Get>
        <Sets>
          <Set>
            <Key>dc.rights</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Status</Name>
      <Title>资源状态</Title>
      <Description>草稿、待审核、已审核、发布</Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>dc.status</Get>
        <Sets>
          <Set>
            <Key>dc.status</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoWorkarea</Name>
      <Title>工区</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Workarea')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[0].type</Key>
            <Value>Workarea</Value>
          </Set>
          <Set>
            <Key>ep.bo[0].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoBasin</Name>
      <Title>盆地</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Basin')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[1].type</Key>
            <Value>Basin</Value>
          </Set>
          <Set>
            <Key>ep.bo[1].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoPlay</Name>
      <Title>区带</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Play')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[2].type</Key>
            <Value>Play</Value>
          </Set>
          <Set>
            <Key>ep.bo[2].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoTrap</Name>
      <Title>圈闭</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Trap')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[3].type</Key>
            <Value>Trap</Value>
          </Set>
          <Set>
            <Key>ep.bo[3].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoPool</Name>
      <Title>油气藏</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Pool')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[4].type</Key>
            <Value>Pool</Value>
          </Set>
          <Set>
            <Key>ep.bo[4].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoReservoir</Name>
      <Title>储层</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Reservoir')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[5].type</Key>
            <Value>Reservoir</Value>
          </Set>
          <Set>
            <Key>ep.bo[5].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoField</Name>
      <Title>油气田</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Field')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[6].type</Key>
            <Value>Field</Value>
          </Set>
          <Set>
            <Key>ep.bo[6].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoStratum</Name>
      <Title>层位</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Stratum')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[7].type</Key>
            <Value>Stratum</Value>
          </Set>
          <Set>
            <Key>ep.bo[7].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoZone</Name>
      <Title>油层组</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Zone')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[8].type</Key>
            <Value>Zone</Value>
          </Set>
          <Set>
            <Key>ep.bo[8].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoWell</Name>
      <Title>井</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Well')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[9].type</Key>
            <Value>Well</Value>
          </Set>
          <Set>
            <Key>ep.bo[9].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoPlatform</Name>
      <Title>海上钻井平台</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Platform')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[10].type</Key>
            <Value>Platform</Value>
          </Set>
          <Set>
            <Key>ep.bo[10].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoMineralright</Name>
      <Title>矿权区</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Mineralright')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[11].type</Key>
            <Value>Mineralright</Value>
          </Set>
          <Set>
            <Key>ep.bo[11].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>BoOrganization</Name>
      <Title>组织机构</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.bo[?(@.type=='Organization')].value</Get>
        <Sets>
          <Set>
            <Key>ep.bo[12].type</Key>
            <Value>Organization</Value>
          </Set>
          <Set>
            <Key>ep.bo[12].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Project</Name>
      <Title>项目</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.project</Get>
        <Sets>
          <Set>
            <Key>ep.project</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>ProductType</Name>
      <Title>成果类型</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>True</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.producttype</Get>
        <Sets>
          <Set>
            <Key>ep.producttype</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>ThemeBD</Name>
      <Title>业务域</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.theme[?(@.type=='BD')].value</Get>
        <Sets>
          <Set>
            <Key>ep.theme[0].type</Key>
            <Value>BD</Value>
          </Set>
          <Set>
            <Key>ep.theme[0].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>ThemeBT</Name>
      <Title>业务类型</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.theme[?(@.type=='BT')].value</Get>
        <Sets>
          <Set>
            <Key>ep.theme[1].type</Key>
            <Value>BT</Value>
          </Set>
          <Set>
            <Key>ep.theme[1].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>ThemeBP</Name>
      <Title>业务程序</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.theme[?(@.type=='BP')].value</Get>
        <Sets>
          <Set>
            <Key>ep.theme[2].type</Key>
            <Value>BP</Value>
          </Set>
          <Set>
            <Key>ep.theme[2].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>ThemeBA</Name>
      <Title>业务活动</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.theme[?(@.type=='BA')].value</Get>
        <Sets>
          <Set>
            <Key>ep.theme[3].type</Key>
            <Value>BA</Value>
          </Set>
          <Set>
            <Key>ep.theme[3].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>ThemeBF</Name>
      <Title>地质特征</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.theme[?(@.type=='BF')].value</Get>
        <Sets>
          <Set>
            <Key>ep.theme[4].type</Key>
            <Value>BF</Value>
          </Set>
          <Set>
            <Key>ep.theme[4].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>ThemeDP</Name>
      <Title>学科</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.theme[?(@.type=='DP')].value</Get>
        <Sets>
          <Set>
            <Key>ep.theme[5].type</Key>
            <Value>DP</Value>
          </Set>
          <Set>
            <Key>ep.theme[5].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>ThemeRT</Name>
      <Title>资源类型</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.theme[?(@.type=='RT')].value</Get>
        <Sets>
          <Set>
            <Key>ep.theme[6].type</Key>
            <Value>RT</Value>
          </Set>
          <Set>
            <Key>ep.theme[6].value</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Tool</Name>
      <Title>工具</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.tool</Get>
        <Sets>
          <Set>
            <Key>ep.tool</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
    <MetadataTag>
      <Name>Scope</Name>
      <Title>置信范围</Title>
      <Description></Description>
      <Type>String</Type>
      <Required>False</Required>
      <Enabled>True</Enabled>
      <Mapping>
        <Get>ep.scope</Get>
        <Sets>
          <Set>
            <Key>ep.scope</Key>
            <Value>@value</Value>
          </Set>
        </Sets>
      </Mapping>
    </MetadataTag>
  </MetadataTags>
  <Connections>
    <DbConnection name="数据库连接">
      <ProviderName>System.Data.SqlClient</ProviderName>
      <ConnectionString>Password=sooiljurassic;User ID=sooil;Data Source=192.168.1.152;Initial Catalog=DataServiceDB</ConnectionString>
    </DbConnection>
    <FtpConnection name="ftp连接">
      <IP>192.168.1.152</IP>
      <UserName>sooil</UserName>
      <Pwd>jurassic</Pwd>
      <Port>21</Port>
    </FtpConnection>
  </Connections>
  <Variables>
    <!--适配器名称，来自适配器配置信息，在运行时会自动加入-->
    <AdapterName/>
    <!--数据源名称，来自适配器配置信息，在运行时会自动加入-->
    <AdapterDataSourceName/>
    <!--数据源类型，来自适配器配置信息，在运行时会自动加入-->
    <AdapterDataSourceType/>
    <!--元数据标签集合，来自适配器配置信息，在运行时会自动加入-->
    <MetadataTags/>
    <!--元数据之NatureKey，或用于存储中间结果，或来自方法参数，在运行时会自动加入-->
    <Variable name="MT_NatureKey" />
    <!--元数据之NatureKey2，用于存储中间结果-->
    <Variable name="MT_NatureKey2"/>
    <!--实体数据之票据，来自方法参数，在运行时会自动加入-->
    <Variable name="ED_Ticket" />
  </Variables>
  <Scopes>
    <SQLAdapterScope name="Scope测试" incrementType="ID">
      <SpiderSize>10</SpiderSize>
      <Variables>
        <!--域名称，来自域配置信息，在运行时会自动加入-->
        <ScopeName/>
        <!--增量类型，来自域配置信息，在运行时会自动加入-->
        <ScopeIncrementType/>
        <!--增量值，来自方法参数，在运行时会自动加入-->
        <ScopeIncrementValue/>
        <!--分页值，来自方法参数，在运行时会自动加入-->
        <ScopePager/>
        <!--增量列，如果支持增量，必须定义增量列-->
        <ScopeIncrementColumn>ID</ScopeIncrementColumn>
        <!--行号列，用于分页，如果支持分页，必须定义行号列-->
        <ScopeRowNumberColumn>RowNo</ScopeRowNumberColumn>
      </Variables>
      <CommonTasks>
        <SqlTask name="元数据查询" outputType="New" >
          <!--不允许使用存储过程，不允许使用OrderBy-->
          <ConnectionName>数据库连接</ConnectionName>
          <CommandType>Text</CommandType>
          <CommandText>select * from table</CommandText>
          <CommandTimeout>30</CommandTimeout>
          <CommandOperation>FillTable</CommandOperation>
          <Parameters>
            <!--<Parameter name="" type="" source="">value</Parameter>-->
          </Parameters>
          <!--以下列定义为任务输出列集合，显示在这只是为了配置文件的可读性-->
          <Columns>
            <Column name="ID" type="Int32" isKey="true"/>
            <Column name="ID2" type="String" isKey="true"/>
            <Column name="Title" type="String" />
          </Columns>
        </SqlTask>
        <NatureKeyTransformTask name="NatureKey解析" outputType="New" >
          <Columns>
            <Column name="ID" type="Int32" />
            <Column name="ID2" type="String" />
          </Columns>
          <Converters>
            <Base64Decoder input="$[MT_NatureKey]" output="$[MT_NatureKey2]" />
            <QueryStringDecoder input="$[MT_NatureKey2]" output="#[ID],#[ID2]" />
          </Converters>
        </NatureKeyTransformTask>
        <SQLMetadataExtracterTask name="元数据提取" refName="元数据查询" >
          <Parameters>
            <Parameter name="ID" type="Int32" source="@[ID]" />
            <Parameter name="ID2" type="String" source="@[ID2]" />
          </Parameters>
          <!--以下列定义为任务输出列集合，显示在这只是为了配置文件的可读性-->
          <Columns>
            <Column name="ID" type="Int32" isKey="true"/>
            <Column name="ID2" type="String" isKey="true"/>
            <Column name="Title" type="String" />
          </Columns>
        </SQLMetadataExtracterTask>
        <SqlTask name="实体内容项提取" outputType="New" >
          <ConnectionName>数据库连接</ConnectionName>
          <CommandType>Text</CommandType>
          <CommandText>select * from table</CommandText>
          <CommandTimeout>30</CommandTimeout>
          <CommandOperation>FillTable</CommandOperation>
          <Parameters>
            <Parameter name="ID" type="Int32" source="@[ID]" />
            <Parameter name="ID2" type="String" source="@[ID2]" />
          </Parameters>
          <!--以下列定义为任务输出列集合，显示在这只是为了配置文件的可读性-->
          <Columns>
            <Column name="Name" type="String" />
            <Column name="Ticket" type="String" />
          </Columns>
        </SqlTask>
      </CommonTasks>
      <SpiderCountPackage>
        <SQLSpiderCountTask name="元数据数量提取" outputType="New" refName="元数据查询">
          <!--增量类型，来自变量-->
          <IncrementType>$[ScopeIncrementType]</IncrementType>
          <!--增量列，来自变量-->
          <IncrementColumn>$[ScopeIncrementColumn]</IncrementColumn>
          <!--增量值，来自变量-->
          <IncrementValue>$[ScopeIncrementValue]</IncrementValue>
          <Columns>
            <Column name="SpiderCount" type="Int32" />
          </Columns>
        </SQLSpiderCountTask>
      </SpiderCountPackage>
      <SpiderPackage>
        <SQLSpiderTask name="元数据提取" outputType="New" refName="元数据查询">
          <!--增量类型，来自变量-->
          <IncrementType>$[ScopeIncrementType]</IncrementType>
          <!--增量列，来自变量-->
          <IncrementColumn>$[ScopeIncrementColumn]</IncrementColumn>
          <!--增量值，来自变量-->
          <IncrementValue>$[ScopeIncrementValue]</IncrementValue>
          <!--行号列，来自变量-->
          <RowNumberColumn>$[ScopeRowNumberColumn]</RowNumberColumn>
          <!--分页值，来自变量-->
          <Pager>$[ScopePager]</Pager>
          <!--以下列定义为任务输出列集合，显示在这只是为了配置文件的可读性-->
          <Columns>
            <Column name="ID" type="Int32" isKey="true"/>
            <Column name="ID2" type="String" isKey="true"/>
            <Column name="Title" type="String" />
          </Columns>
        </SQLSpiderTask>
        <FlatMetadataTransformTask name="扁平元数据转换任务" outputType="New" >
          <!--元数据标签集合，来自变量-->
          <MetadataTags>$[MetadataTags]</MetadataTags>
          <!--以下列定义为任务输出列集合，显示在这只是为了配置文件的可读性-->
          <Columns>
            <Column name="IIId" type="String" />
            <Column name="SourceUrl" type="String" />
            <Column name="Formal" type="String" />
          </Columns>
          <Converters>
            <!--@[名称]表示来自输入列，#[名称]表示来自输出列，$[名称]表示来自变量-->
            <!--input表示输入来源，有多个时用逗号分隔，output表示输出目标，有多个时用逗号分隔-->
            <!--pattern表示转换模式，由转换器自己解释处理-->
            <QueryStringEncoder input="@[ID],@[ID2]" output="$[MT_NatureKey]" />
            <Base64Encoder input="$[MT_NatureKey]" output="$[MT_NatureKey2]" />
            <StringsConcat input="$[AdapterName],$[ScopeName],$[MT_NatureKey2]" pattern="ADP://{0}/{1}/{2}" output="#[SourceUrl]" />
            <MD5 input="#[SourceUrl]" output="#[IIId]" />
            <Default input="@[Title]" output="#[Formal]" />
          </Converters>
        </FlatMetadataTransformTask>
        <MetadataTransformTask name="元数据转换任务" outputType="New" >
          <!--元数据标签集合，来自变量-->
          <MetadataTags>$[MetadataTags]</MetadataTags>
          <Converters>
            <Metadata />
          </Converters>
        </MetadataTransformTask>
      </SpiderPackage>
      <RetrievePackage>
        <WrappedTask name="NatureKey解析" refName="NatureKey解析" />
        <WrappedTask name="元数据提取" refName="元数据提取" />
        <WrappedTask name="实体内容项提取" refName="实体内容项提取" />
        <SQLRetrieveTransformTask name="实体内容项转换" outputType="New" >
          <!--以下列定义为任务输出列集合，显示在这只是为了配置文件的可读性-->
          <Columns>
            <Column name="Name" type="String" />
            <Column name="Ticket" type="String" />
            <Column name="Major" type="Boolean" />
            <Column name="Format2" type="String" />
            <Column name="Total" type="Int32" />
            <Column name="Unit" type="String" />
          </Columns>
          <Converters>
            <Default input="@[Name]" output="#[Name]" />
            <Default input="@[Ticket]" output="#[Ticket]" />
            <const pattern="True" output="#[Major]" />
            <const pattern="DataSet" output="#[Format2]" />
            <const pattern="-1" output="#[Total]" />
            <const pattern="None" output="#[Unit]" />
          </Converters>
        </SQLRetrieveTransformTask>
      </RetrievePackage>
      <GetDataPackage>
        <WrappedTask name="NatureKey解析" refName="NatureKey解析" />
        <WrappedTask name="元数据提取" refName="元数据提取" />
        <SqlTask name="实体内容提取" outputType="New" >
          <ConnectionName>数据库连接</ConnectionName>
          <CommandType>Text</CommandType>
          <CommandText>select * from table</CommandText>
          <CommandTimeout>30</CommandTimeout>
          <CommandOperation>FillDataSet</CommandOperation>
          <Parameters>
            <Parameter name="ID" type="Int32" source="@[ID]" />
            <Parameter name="ID2" type="String" source="@[ID2]" />
            <Parameter name="Ticket" type="String" source="$[ED_Ticket]" />
          </Parameters>
        </SqlTask>
        <SQLGetDataTransformTask name="实体内容转换" outputType="New" >
          <!--以下列定义为任务输出列集合，显示在这只是为了配置文件的可读性-->
          <Columns>
            <Column name="Format2" type="String" />
            <Column name="Value" type="Object" />
          </Columns>
          <Converters>
            <const pattern="DataSet" output="#[Format2]" />
            <!--JSON数据集转换器默认使用上一个任务的输出，而且必须是数据集行集-->
            <JsonDataSet output="#[Value]" />
          </Converters>
        </SQLGetDataTransformTask>
      </GetDataPackage>
    </SQLAdapterScope>
  </Scopes>
</SQLAdapter>