<MetadataTags>
  <MetadataTag>
    <Name>IncrementColumnValue</Name>
    <Title>增量字段值</Title>
    <Description></Description>
    <Type>String</Type>
    <Required>False</Required>
    <Enabled>True</Enabled>
    <Mapping>
      <Get>IncrementColumnValue</Get>
      <Sets>
        <Set>
          <Key>IncrementColumnValue</Key>
          <Value>@value</Value>
        </Set>
      </Sets>
    </Mapping>
  </MetadataTag>
</MetadataTags>
