@*首页上的用户头像的显示，为了满足头像自定义的更改需要，将这部分写在分部视图中*@
<a class="mini-button mini-button-iconTop  mini-button-plain" href="/home/selfserviceindex" target="main">
    <img class="icon-new-userinfo" style=" width:24px; height:24px;" />
    <span style="display:block;">@User.Identity.Name</span>
</a>
