<?xml version="1.0" encoding="utf-8"?>
<Submission>
  <MetadataTagsFile><![CDATA[E:\Projects\搜索业务部\01基础库\02源代码\Jurassic.PKS.Service\Jurassic.PKS.Service\MetadataDefinition.json]]></MetadataTagsFile>
  <MetadataTags>
    <Tag>
      <Name>IIId</Name>
      <Width>100</Width>
      <EnumValues></EnumValues>
    </Tag>
    <Tag>
      <Name>SourceUrl</Name>
      <Width>100</Width>
      <EnumValues></EnumValues>
    </Tag>
  </MetadataTags>
  <MetadataOptions>
    <Option>
      <Key>IIId</Key>
      <Value>100</Value>
    </Option>
    <Option>
      <Key>IIId</Key>
      <Value>100</Value>
    </Option>
  </MetadataOptions>
</Submission>
